.SMI_Optimized {
	float:left;
	margin-bottom:20px;
	width:100%;
}

.SMI_Optimized label {
	display:block;
	margin-bottom:5px;
}

.SMI_Optimized .social_accounts label {
	background-repeat:no-repeat;
	padding-left:20px;
}

/* Icons for admin widget */
.SMI_Optimized  ._unknown, .SMI_Optimized .aboutme, .SMI_Optimized .behance, .SMI_Optimized .codepen, .SMI_Optimized .dribbble, .SMI_Optimized .email, .SMI_Optimized .envato, .SMI_Optimized .facebook, .SMI_Optimized .fivehundredpx, .SMI_Optimized .flickr, .SMI_Optimized .forrst, .SMI_Optimized .foursquare, .SMI_Optimized .github, .SMI_Optimized .googleplus, .SMI_Optimized .instagram, .SMI_Optimized .kickstarter, .SMI_Optimized .klout, .SMI_Optimized .linkedin, .SMI_Optimized .medium, .SMI_Optimized .path, .SMI_Optimized .pinterest, .SMI_Optimized .rss, .SMI_Optimized .soundcloud, .SMI_Optimized .speakerdeck, .SMI_Optimized .stumbleupon, .SMI_Optimized .technorati, .SMI_Optimized .tumblr, .SMI_Optimized .twitter, .SMI_Optimized .vimeo, .SMI_Optimized .vine, .SMI_Optimized .wordpress, .SMI_Optimized .yelp, .SMI_Optimized .youtube, .SMI_Optimized .zerply
{
	background: url('../icons/small/sprites.png') no-repeat;	
	width: 16px;
	height: 16px;
	position: absolute;
}

.SMI_Optimized ._unknown {
	background-position: 0 0;
}

.SMI_Optimized .aboutme {
	background-position: -16px 0;
}

.SMI_Optimized .behance {
	background-position: -32px 0;
}

.SMI_Optimized .codepen {
	background-position: -48px 0;
}

.SMI_Optimized .dribbble {
	background-position: -64px 0;
}

.SMI_Optimized .email {
	background-position: -80px 0;
}

.SMI_Optimized .envato {
	background-position: 0 -16px ;
}

.SMI_Optimized .facebook {
	background-position: -16px -16px ;
}

.SMI_Optimized .fivehundredpx {
	background-position: -32px -16px ;
}

.SMI_Optimized .flickr {
	background-position: -48px -16px ;
}

.SMI_Optimized .forrst {
	background-position: -64px -16px ;
}

.SMI_Optimized .foursquare {
	background-position: -80px -16px ;
}

.SMI_Optimized .github {
	background-position: 0 -32px ;
}

.SMI_Optimized .googleplus {
	background-position: -16px -32px ;
}

.SMI_Optimized .instagram {
	background-position: -32px -32px ;
}

.SMI_Optimized .kickstarter {
	background-position: -48px -32px ;
}

.SMI_Optimized .klout {
	background-position: -64px -32px ;
}

.SMI_Optimized .linkedin {
	background-position: -80px -32px ;
}

.SMI_Optimized .medium {
	background-position: 0 -48px ;
}

.SMI_Optimized .path {
	background-position: -16px -48px ;
}

.SMI_Optimized .pinterest {
	background-position: -32px -48px ;
}

.SMI_Optimized .rss {
	background-position: -48px -48px ;
}

.SMI_Optimized .soundcloud {
	background-position: -64px -48px ;
}

.SMI_Optimized .speakerdeck {
	background-position: -80px -48px ;
}

.SMI_Optimized .stumbleupon {
	background-position: 0 -64px ;
}

.SMI_Optimized .technorati {
	background-position: -16px -64px ;
}

.SMI_Optimized .tumblr {
	background-position: -32px -64px ;
}

.SMI_Optimized .twitter {
	background-position: -48px -64px ;
}

.SMI_Optimized .vimeo {
	background-position: -64px -64px ;
}

.SMI_Optimized .vine {
	background-position: -80px -64px ;
}

.SMI_Optimized .wordpress {
	background-position: 0 -80px ;
}

.SMI_Optimized .yelp {
	background-position: -16px -80px ;	
}

.SMI_Optimized .youtube {
	background-position: -32px -80px ;
}

.SMI_Optimized .zerply {
	background-position: -48px -80px ;
}



.SMI_Optimized .icon_options label,
.SMI_Optimized .label_options label {
	display:inline;
	margin-bottom:0;
}

.widget .widget-inside .icon_options,
.widget .widget-inside .label_options {
	margin:0;
	padding:0 1.5%;
	width:47%;
}

.widget .widget-inside .icon_options { float:left; }
.widget .widget-inside .label_options { float:right; padding-top:3px; }

.SMI_Optimized .social_accounts {
	border-top:1px #ccc solid;
	clear:both;
	float:left;
	margin-top:1.5em;
	padding-top:1.5em;
	width:100%;
}

.SMI_Optimized .social_accounts li {
	border-bottom:1px #ccc dotted;
	float:left;
	padding:5px 1.5% 15px;
	width:30%;
}

.SMI_Optimized .social_accounts li .site_icon {
	float:left;
	margin-right:5px;
}