.social-icons-widget ul {
	float:left;
	list-style-type:none;
	margin:0 0 15px;
	width:100%;
}

.social-icons-widget ul li {
	float:left;
	margin:0 10px 10px 0;
}

.social-icons-widget ul li a {
	margin:0;
	text-decoration: none;
}

.social-icons-widget ul.show-labels li {
	float:none;
}

.social-icons-widget ul.show-labels li img {
	float:left;
	margin-right:10px;
	vertical-align:middle;
}

/* SMALL icons */
.social-icons-widget .small_unknown, .social-icons-widget .small_aboutme, .social-icons-widget .small_behance, .social-icons-widget .small_codepen, .social-icons-widget .small_dribbble, .social-icons-widget .small_email, .social-icons-widget .small_envato, .social-icons-widget .small_facebook, .social-icons-widget .small_fivehundredpx, .social-icons-widget .small_flickr, .social-icons-widget .small_forrst, .social-icons-widget .small_foursquare, .social-icons-widget .small_github, .social-icons-widget .small_googleplus, .social-icons-widget .small_instagram, .social-icons-widget .small_kickstarter, .social-icons-widget .small_klout, .social-icons-widget .small_linkedin, .social-icons-widget .small_medium, .social-icons-widget .small_path, .social-icons-widget .small_pinterest, .social-icons-widget .small_rss, .social-icons-widget .small_soundcloud, .social-icons-widget .small_speakerdeck, .social-icons-widget .small_stumbleupon, .social-icons-widget .small_technorati, .social-icons-widget .small_tumblr, .social-icons-widget .small_twitter, .social-icons-widget .small_vimeo, .social-icons-widget .small_vine, .social-icons-widget .small_wordpress, .social-icons-widget .small_yelp, .social-icons-widget .small_youtube, .social-icons-widget .small_zerply{
	position: relative;
}

.social-icons-widget .small_unknown .site-icon, .social-icons-widget .small_aboutme .site-icon, .social-icons-widget .small_behance .site-icon, .social-icons-widget .small_codepen .site-icon, .social-icons-widget .small_dribbble .site-icon, .social-icons-widget .small_email .site-icon, .social-icons-widget .small_envato .site-icon, .social-icons-widget .small_facebook .site-icon, .social-icons-widget .small_fivehundredpx .site-icon, .social-icons-widget .small_flickr .site-icon, .social-icons-widget .small_forrst .site-icon, .social-icons-widget .small_foursquare .site-icon, .social-icons-widget .small_github .site-icon, .social-icons-widget .small_googleplus .site-icon, .social-icons-widget .small_instagram .site-icon, .social-icons-widget .small_kickstarter .site-icon, .social-icons-widget .small_klout .site-icon, .social-icons-widget .small_linkedin .site-icon, .social-icons-widget .small_medium .site-icon, .social-icons-widget .small_path .site-icon, .social-icons-widget .small_pinterest .site-icon, .social-icons-widget .small_rss .site-icon, .social-icons-widget .small_soundcloud .site-icon, .social-icons-widget .small_speakerdeck .site-icon, .social-icons-widget .small_stumbleupon .site-icon, .social-icons-widget .small_technorati .site-icon, .social-icons-widget .small_tumblr .site-icon, .social-icons-widget .small_twitter .site-icon, .social-icons-widget .small_vimeo .site-icon, .social-icons-widget .small_vine .site-icon, .social-icons-widget .small_wordpress .site-icon, .social-icons-widget .small_yelp .site-icon, .social-icons-widget .small_youtube .site-icon, .social-icons-widget .small_zerply .site-icon{
	background: url('../icons/small/sprites.png') no-repeat;	
	width: 16px;
	height: 16px;
	position: absolute;
	top: 5px;
}

.social-icons-widget .small_unknown .site-icon + span, .social-icons-widget .small_aboutme .site-icon + span, .social-icons-widget .small_behance .site-icon + span, .social-icons-widget .small_codepen .site-icon + span, .social-icons-widget .small_dribbble .site-icon + span, .social-icons-widget .small_email .site-icon + span, .social-icons-widget .small_envato .site-icon + span, .social-icons-widget .small_facebook .site-icon + span, .social-icons-widget .small_fivehundredpx .site-icon + span, .social-icons-widget .small_flickr .site-icon + span, .social-icons-widget .small_forrst .site-icon + span, .social-icons-widget .small_foursquare .site-icon + span, .social-icons-widget .small_github .site-icon + span, .social-icons-widget .small_googleplus .site-icon + span, .social-icons-widget .small_instagram .site-icon + span, .social-icons-widget .small_kickstarter .site-icon + span, .social-icons-widget .small_klout .site-icon + span, .social-icons-widget .small_linkedin .site-icon + span, .social-icons-widget .small_medium .site-icon + span, .social-icons-widget .small_path .site-icon + span, .social-icons-widget .small_pinterest .site-icon + span, .social-icons-widget .small_rss .site-icon + span, .social-icons-widget .small_soundcloud .site-icon + span, .social-icons-widget .small_speakerdeck .site-icon + span, .social-icons-widget .small_stumbleupon .site-icon + span, .social-icons-widget .small_technorati .site-icon + span, .social-icons-widget .small_tumblr .site-icon + span, .social-icons-widget .small_twitter .site-icon + span, .social-icons-widget .small_vimeo .site-icon + span, .social-icons-widget .small_vine .site-icon + span, .social-icons-widget .small_wordpress .site-icon + span, .social-icons-widget .small_yelp .site-icon + span, .social-icons-widget .small_youtube .site-icon + span, .social-icons-widget .small_zerply .site-icon + span
{
	padding-left: 18px;
}

.social-icons-widget .small_unknown .site-icon {
	background-position: 0 0;
}

.social-icons-widget .small_aboutme .site-icon {
	background-position: -16px 0;
}

.social-icons-widget .small_behance .site-icon {
	background-position: -32px 0;
}

.social-icons-widget .small_codepen .site-icon {
	background-position: -48px 0;
}

.social-icons-widget .small_dribbble .site-icon {
	background-position: -64px 0;
}

.social-icons-widget .small_email .site-icon {
	background-position: -80px 0;
}

.social-icons-widget .small_envato .site-icon {
	background-position: 0 -16px ;
}

.social-icons-widget .small_facebook .site-icon {
	background-position: -16px -16px ;
}

.social-icons-widget .small_fivehundredpx .site-icon {
	background-position: -32px -16px ;
}

.social-icons-widget .small_flickr .site-icon {
	background-position: -48px -16px ;
}

.social-icons-widget .small_forrst .site-icon {
	background-position: -64px -16px ;
}

.social-icons-widget .small_foursquare .site-icon {
	background-position: -80px -16px ;
}

.social-icons-widget .small_github .site-icon {
	background-position: 0 -32px ;
}

.social-icons-widget .small_googleplus .site-icon {
	background-position: -16px -32px ;
}

.social-icons-widget .small_instagram .site-icon {
	background-position: -32px -32px ;
}

.social-icons-widget .small_kickstarter .site-icon {
	background-position: -48px -32px ;
}

.social-icons-widget .small_klout .site-icon {
	background-position: -64px -32px ;
}

.social-icons-widget .small_linkedin .site-icon {
	background-position: -80px -32px ;
}

.social-icons-widget .small_medium .site-icon {
	background-position: 0 -48px ;
}

.social-icons-widget .small_path .site-icon {
	background-position: -16px -48px ;
}

.social-icons-widget .small_pinterest .site-icon {
	background-position: -32px -48px ;
}

.social-icons-widget .small_rss .site-icon {
	background-position: -48px -48px ;
}

.social-icons-widget .small_soundcloud .site-icon {
	background-position: -64px -48px ;
}

.social-icons-widget .small_speakerdeck .site-icon {
	background-position: -80px -48px ;
}

.social-icons-widget .small_stumbleupon .site-icon {
	background-position: 0 -64px ;
}

.social-icons-widget .small_technorati .site-icon {
	background-position: -16px -64px ;
}

.social-icons-widget .small_tumblr .site-icon {
	background-position: -32px -64px ;
}

.social-icons-widget .small_twitter .site-icon {
	background-position: -48px -64px ;
}

.social-icons-widget .small_vimeo .site-icon {
	background-position: -64px -64px ;
}

.social-icons-widget .small_vine .site-icon {
	background-position: -80px -64px ;
}

.social-icons-widget .small_wordpress .site-icon {
	background-position: 0 -80px ;
}

.social-icons-widget .small_yelp .site-icon {
	background-position: -16px -80px ;	
}

.social-icons-widget .small_youtube .site-icon {
	background-position: -32px -80px ;
}

.social-icons-widget .small_zerply .site-icon {
	background-position: -48px -80px ;
}

/*Medium icons*/

.social-icons-widget .medium_unknown, .social-icons-widget .medium_aboutme, .social-icons-widget .medium_behance, .social-icons-widget .medium_codepen, .social-icons-widget .medium_dribbble, .social-icons-widget .medium_email, .social-icons-widget .medium_envato, .social-icons-widget .medium_facebook, .social-icons-widget .medium_fivehundredpx, .social-icons-widget .medium_flickr, .social-icons-widget .medium_forrst, .social-icons-widget .medium_foursquare, .social-icons-widget .medium_github, .social-icons-widget .medium_googleplus, .social-icons-widget .medium_instagram, .social-icons-widget .medium_kickstarter, .social-icons-widget .medium_klout, .social-icons-widget .medium_linkedin, .social-icons-widget .medium_medium, .social-icons-widget .medium_path, .social-icons-widget .medium_pinterest, .social-icons-widget .medium_rss, .social-icons-widget .medium_soundcloud, .social-icons-widget .medium_speakerdeck, .social-icons-widget .medium_stumbleupon, .social-icons-widget .medium_technorati, .social-icons-widget .medium_tumblr, .social-icons-widget .medium_twitter, .social-icons-widget .medium_vimeo, .social-icons-widget .medium_vine, .social-icons-widget .medium_wordpress, .social-icons-widget .medium_yelp, .social-icons-widget .medium_youtube, .social-icons-widget .medium_zerply{
	position: relative;
}

.social-icons-widget .medium_unknown .site-icon, .social-icons-widget .medium_aboutme .site-icon, .social-icons-widget .medium_behance .site-icon, .social-icons-widget .medium_codepen .site-icon, .social-icons-widget .medium_dribbble .site-icon, .social-icons-widget .medium_email .site-icon, .social-icons-widget .medium_envato .site-icon, .social-icons-widget .medium_facebook .site-icon, .social-icons-widget .medium_fivehundredpx .site-icon, .social-icons-widget .medium_flickr .site-icon, .social-icons-widget .medium_forrst .site-icon, .social-icons-widget .medium_foursquare .site-icon, .social-icons-widget .medium_github .site-icon, .social-icons-widget .medium_googleplus .site-icon, .social-icons-widget .medium_instagram .site-icon, .social-icons-widget .medium_kickstarter .site-icon, .social-icons-widget .medium_klout .site-icon, .social-icons-widget .medium_linkedin .site-icon, .social-icons-widget .medium_medium .site-icon, .social-icons-widget .medium_path .site-icon, .social-icons-widget .medium_pinterest .site-icon, .social-icons-widget .medium_rss .site-icon, .social-icons-widget .medium_soundcloud .site-icon, .social-icons-widget .medium_speakerdeck .site-icon, .social-icons-widget .medium_stumbleupon .site-icon, .social-icons-widget .medium_technorati .site-icon, .social-icons-widget .medium_tumblr .site-icon, .social-icons-widget .medium_twitter .site-icon, .social-icons-widget .medium_vimeo .site-icon, .social-icons-widget .medium_vine .site-icon, .social-icons-widget .medium_wordpress .site-icon, .social-icons-widget .medium_yelp .site-icon, .social-icons-widget .medium_youtube .site-icon, .social-icons-widget .medium_zerply .site-icon {
	background: url('../icons/medium/sprites.png') no-repeat;
	width: 32px;
	height: 32px;
	position: absolute;
}

.social-icons-widget .medium_unknown .site-icon + span, .social-icons-widget .medium_aboutme .site-icon + span, .social-icons-widget .medium_behance .site-icon + span, .social-icons-widget .medium_codepen .site-icon + span, .social-icons-widget .medium_dribbble .site-icon + span, .social-icons-widget .medium_email .site-icon + span, .social-icons-widget .medium_envato .site-icon + span, .social-icons-widget .medium_facebook .site-icon + span, .social-icons-widget .medium_fivehundredpx .site-icon + span, .social-icons-widget .medium_flickr .site-icon + span, .social-icons-widget .medium_forrst .site-icon + span, .social-icons-widget .medium_foursquare .site-icon + span, .social-icons-widget .medium_github .site-icon + span, .social-icons-widget .medium_googleplus .site-icon + span, .social-icons-widget .medium_instagram .site-icon + span, .social-icons-widget .medium_kickstarter .site-icon + span, .social-icons-widget .medium_klout .site-icon + span, .social-icons-widget .medium_linkedin .site-icon + span, .social-icons-widget .medium_medium .site-icon + span, .social-icons-widget .medium_path .site-icon + span, .social-icons-widget .medium_pinterest .site-icon + span, .social-icons-widget .medium_rss .site-icon + span, .social-icons-widget .medium_soundcloud .site-icon + span, .social-icons-widget .medium_speakerdeck .site-icon + span, .social-icons-widget .medium_stumbleupon .site-icon + span, .social-icons-widget .medium_technorati .site-icon + span, .social-icons-widget .medium_tumblr .site-icon + span, .social-icons-widget .medium_twitter .site-icon + span, .social-icons-widget .medium_vimeo .site-icon + span, .social-icons-widget .medium_vine .site-icon + span, .social-icons-widget .medium_wordpress .site-icon + span, .social-icons-widget .medium_yelp .site-icon + span, .social-icons-widget .medium_youtube .site-icon + span, .social-icons-widget .medium_zerply .site-icon + span
{
	padding-left: 36px;
	display: inline-block;
	padding-top: 3px;
}

.social-icons-widget .medium_unknown .site-icon {
	background-position: 0 0;
}

.social-icons-widget .medium_aboutme .site-icon {
	background-position: -32px 0;
}

.social-icons-widget .medium_behance .site-icon {
	background-position: -64px 0;
}

.social-icons-widget .medium_codepen .site-icon {
	background-position: -96px 0;
}

.social-icons-widget .medium_dribbble .site-icon {
	background-position: -128px 0;
}

.social-icons-widget .medium_email .site-icon {
	background-position: -160px 0;
}

.social-icons-widget .medium_envato .site-icon {
	background-position: 0 -32px ;
}

.social-icons-widget .medium_facebook .site-icon {
	background-position: -32px -32px ;
}

.social-icons-widget .medium_fivehundredpx .site-icon {
	background-position: -64px -32px ;
}

.social-icons-widget .medium_flickr .site-icon {
	background-position: -96px -32px ;
}

.social-icons-widget .medium_forrst .site-icon {
	background-position: -128px -32px ;
}

.social-icons-widget .medium_foursquare .site-icon {
	background-position: -160px -32px ;
}

.social-icons-widget .medium_github .site-icon {
	background-position: 0 -64px ;
}

.social-icons-widget .medium_googleplus .site-icon {
	background-position: -32px -64px ;
}

.social-icons-widget .medium_instagram .site-icon {
	background-position: -64px -64px ;
}

.social-icons-widget .medium_kickstarter .site-icon {
	background-position: -96px -64px ;
}

.social-icons-widget .medium_klout .site-icon {
	background-position: -128px -64px ;
}

.social-icons-widget .medium_linkedin .site-icon {
	background-position: -160px -64px ;
}

.social-icons-widget .medium_medium .site-icon {
	background-position: 0 -96px ;
}

.social-icons-widget .medium_path .site-icon {
	background-position: -32px -96px ;
}

.social-icons-widget .medium_pinterest .site-icon {
	background-position: -64px -96px ;
}

.social-icons-widget .medium_rss .site-icon {
	background-position: -96px -96px ;
}

.social-icons-widget .medium_soundcloud .site-icon {
	background-position: -128px -96px ;
}

.social-icons-widget .medium_speakerdeck .site-icon {
	background-position: -160px -96px ;
}

.social-icons-widget .medium_stumbleupon .site-icon {
	background-position: 0 -128px ;
}

.social-icons-widget .medium_technorati .site-icon {
	background-position: -32px -128px ;
}

.social-icons-widget .medium_tumblr .site-icon {
	background-position: -64px -128px ;
}

.social-icons-widget .medium_twitter .site-icon {
	background-position: -96px -128px ;
}

.social-icons-widget .medium_vimeo .site-icon {
	background-position: -128px -128px ;
}

.social-icons-widget .medium_vine .site-icon {
	background-position: -160px -128px ;
}

.social-icons-widget .medium_wordpress .site-icon {
	background-position: 0 -160px ;
}

.social-icons-widget .medium_yelp .site-icon {
	background-position: -32px -160px ;
}

.social-icons-widget .medium_youtube .site-icon {
	background-position: -64px -160px ;
}

.social-icons-widget .medium_zerply .site-icon {
	background-position: -95px -160px ;
}


